*{
    margin: 0;
    padding: 0;
    font-family:  'Ubuntu', sans-serif;
}
body{
  
    background-color: #e0e0e0;
    margin-bottom: 60px;
}
.logo-image{
    height: 60px;
    width: 60px;
    margin-right: 1%;
}
#content{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;

}.social-mediaImage{
    height: 20px;
    width: 22px;
}
header{
    background-color: rosybrown;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
header button{
    margin-right: 2%;
}
header #logo-link img{
    margin-left: 1%;
}

footer{
    background-color: rosybrown;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}
.social-icons{
    margin-right: 2%;
}
footer .contactUs{
    margin-left: 2%;
}

#copyright{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    text-decoration: none;
    color: black;
}

/* Header and Footer ended*/

.city-image{
    margin-top: 1%;
    margin-bottom: 1%;
    height: 350px;
    width: 500px;
    margin-left: 2%;
    margin-right: 2%;
}
.hotel-details{
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    

}
.description{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
.services{
    margin-left: 4%;
}
.paymentSection{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
    max-height: 400px;
    
    
}
.city{
    flex: 70%;
    display:flex;
    justify-content: center;
    
}
.payment-details{
    flex: 30%;
    border-left: 1px solid black;
}

.payment-details form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.inner-flex{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   flex-direction: column;
   width: 90%;
}
.inner-flex li{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 4%;
}
.inner-flex li input{
   margin-left: 20px;
}
.form-date{
    width: 62%;
    height: 20%;
}

.bookNow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

h5{
    font-style: oblique;
    font-weight: bold;
}
.checked{
    color: orange;
}
.modal-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4%;
}
.modal-field input{
    margin-left: 8%;
}
.modal-footer{
    display: flex;
    justify-content: center;
}
.modal-footer1{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    margin-right: 2%;
}
