*{
    margin: 0;
    padding: 0;
    font-family:  'Ubuntu', sans-serif;
}
body{
  
    background-color: #e0e0e0;
    margin-bottom: 60px;
}
.logo-image{
    height: 60px;
    width: 60px;
    margin-right: 1%;
}
#content{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;

}.social-mediaImage{
    height: 20px;
    width: 22px;
}
header{
    background-color: rosybrown;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
header button{
    margin-right: 2%;
}
header #logo-link img{
    margin-left: 1%;
}

footer{
    background-color: rosybrown;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}
.social-icons{
    margin-right: 2%;
}
footer .contactUs{
    margin-left: 2%;
}

#copyright{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    text-decoration: none;
    color: black;
}

/* Header and Footer ended*/


#list-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5%;
    
}
#map-view{
    display: none;
}
#list-view img{

    height: 200px;
    width: 250px;   
}
.city{
    margin: 2%;
    width: 40%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
}
.city:hover{
    background-color: rosybrown;
}
#city1{
    display: flex;
    flex-direction: row;
}
.city-details{
    padding: 2%;
}
#views{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#views ul{
    list-style: none;

    display: inline-flex;
}
#views ul li{
   margin-top: 40px;
   margin-right: 70px;
}
#views button{
    border-color:  #e0e0e0;
    color: black;
    background-color: inherit;
   
}
#views button:hover{
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: black;
   
}
.checked{
    color: orange;
}
.modal-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4%;
}
.modal-field input{
    margin-left: 8%;
}
.modal-footer{
    display: flex;
    justify-content: center;
}
.modal-footer1{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    margin-right: 2%;
}

